body{
  background-color: #e6e6e6;
}
h1{
  font-size: 45px;
  font-family: 'Courgette', cursive;
  margin-bottom: -5px;
  margin-top: 5px;
}
h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-top: 0px;
}


div{
  margin-top: -3px;
  margin-bottom: -3px;
}

label {
  font-size: 12px;
}

input[type=submit] {
  width: 100%;
  background-color: #1f3d7a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-bottom: -3px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=text],[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #1f3d7a;
  border-radius: 4px;
  box-sizing: border-box;
}

#mainSection{

  position: relative;

  transform: translateY(10%);
  margin: 0 auto;
  width: 35%;
  height: 300px;
  font-family: sans-serif;
  text-align: center;
  line-height: 1.5;
  white-space: nowrap;
}

#bordas1{
  padding: 40px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;

}

#tamanho{
  font-size: 20px;
  margin-top: -3px;
  margin-bottom: 0;
}

#tamanho2{
  color: #1f3d7a;
  text-decoration: underline;
  margin-top: 7px;
  margin-bottom: -3px;
}

#bordas{
  padding: 12px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;

}

a:link, a:visited {
  background-color: #1f3d7a;
  color: white;
  padding: 7px 20px;
  margin-top: -3px;
  margin-bottom: -3px;
  border-radius: 4px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
