
body{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #FCCB1A;
  font-size: 25px

}
pre{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;

}
html{
  background: url(../image/seila.gif) no-repeat center center fixed;
  background-size: cover;
}
